<div class="flex items-center justify-center">
  <div
    class="rounded-xl bg-neutral p-2"
    [class.skeleton]="isLoading() || !token()">
    <div class="flex gap-4">
      <label class="input input-bordered flex items-center gap-2">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
          class="lucide lucide-link">
          <path
            d="M10 13a5 5 0 0 0 7.54.54l3-3a5 5 0 0 0-7.07-7.07l-1.72 1.71" />
          <path
            d="M14 11a5 5 0 0 0-7.54-.54l-3 3a5 5 0 0 0 7.07 7.07l1.71-1.71" />
        </svg>
        <input
          type="text"
          placeholder="website url"
          [formControl]="urlInput"
          class="w-96" />
      </label>

      <button
        [class.skeleton]="isLoading()"
        class="btn btn-primary"
        (click)="createPreview()"
        [attr.disabled]="!this.urlInput.valid ? true : null">
        create
      </button>
    </div>
  </div>
</div>
