<div
  class="rounded-xl bg-neutral p-2"
  [class.skeleton]="isLoading() || !token()">
  <div class="flex gap-4">
    <label class="input input-bordered flex w-full items-center gap-2">
      <ng-icon name="phosphorLinkSimpleBold" size="24" />
      <input
        type="text"
        placeholder="website url"
        [formControl]="urlInput"
        class="w-full" />
    </label>

    <button
      [class.skeleton]="isLoading()"
      class="btn btn-primary"
      (click)="createPreview()"
      [attr.disabled]="!this.urlInput.valid || isLoading() ? true : null">
      create
    </button>
  </div>
</div>
