<app-share-content-title>Try it!</app-share-content-title>

<app-share-content-sub-title>
  Website preview image only
</app-share-content-sub-title>
<div class="mockup-code">
  <pre>
    <code>
      &lt;img src=&quot;https://fakeimg.pl/380x230/&lt;site-url&gt;&quot;&gt;
    </code>
</pre>
</div>

<app-share-content-sub-title>
  REST API with JSON response
</app-share-content-sub-title>
<div class="mockup-code">
  <pre>
    <code>
      &lt;img src=&quot;https://fakeimg.pl/380x230/&lt;site-url&gt;&quot;&gt;
    </code>
</pre>
</div>
