/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.default-font-regular {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

.default-font-bold {
  font-family: 'Inter', sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'slnt' 0;
}

.yanone-kaffeesatz-400 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}
